.button{
  width:200px;
  height:50px;
  margin:20px;
  border:2px solid blue;
  user-select: none;
}

body{
  background: black;
}

.buttonContainer{
  display: flex;
  flex-wrap: wrap;
  border: 5px solid linen;
  background: linear-gradient(#b40000 , #2b0404);
}

.submitButton{
  padding: 2px 5px;
  background: #974040;
  width:50px;
}


.buttonOffnik{
  padding: 2px 5px;
  background: grey;
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 0;
}